---
 const personalImageAlt = "Nico Piovano"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Nico y tengo 30 años. <strong> Empecé en la
      programación en el 2016 </strong> introduciendome en el mundo de PHP.
    </p>

    <p>
      Trabajé inicialmente en el backend, manejando bases de datos gubernamentales, con muchísima información lo que me permitió establecer una <strong> buena base de seguridad, arquitectura de datos y manejo de consultas SQL</strong>.
    </p>

    <p>
      Con el correr del tiempo, empecé a formarme en el frontend de la mano de Javascript, utilizando frameworks y librerias como <strong> React y Vue js </strong>. Actualmente me siento más cómodo desarrollando con estas herramientas.
    </p>

    <p> Mis metas para los próximos meses es seguir expandiendome en el <strong> ambiente freelance </strong> y seguir adquiriendo conocimientos y habilidades. Siempre trato de mantenerme actualizado y aprender mes a mes nuevas cosas para poder ponerlas en practica en el día a día.
    </p>

  </div>

  <img width="200" height="200" src="/NicoPhoto.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>