---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "Actualmente...",
        title: "Desarrollador de Sistemas, Apps y Websites",
        company: "Freelance",
        usos: ['Vue', 'Laravel', 'React'],
        description:
            "Desarrollo soluciones informáticas (plantillas, sitios web, sistemas, aplicaciones) para distintos clientes.",
    },
    {
        date: "Actualmente...",
        title: "Desarrollador Web Fullstack",
        company: "Servicios Computables S.A.",
        usos: ['Vue', 'Laravel'],
        description:
            "Desarrollo de sistemas informáticos para las distintas Municipalidades de la República Argentina.",
    },
    {
        date: "",
        title: "Año sabático",
        usos: [],
        description:
            "Me tomé un año para viajar, conocer el mundo, historias y personas. No desarrollé contenido relacionado a la programación, aunque siempre traté de estar actualizado con las herramientas y metodologías que surgían."
    },
    {
        date: "Jun. 2021 - Abr. 2023",
        title: "Desarrollador Web Fullstack",
        company: "Servicios Computables S.A.",
        usos: ['Vue', 'Laravel'],
        description:
            "Desarrollo de sistemas informáticos para las distintas Municipalidades de la República Argentina.",
    },
    {
        date: "Nov. 2020 - May. 2021",
        title: "Desarrollador Web Backend",
        company: "Creative Coefficient",
        usos: ['Laravel', 'Prestashop'],
        description:
            "Desarrollo en conjunto de panel administrativo de un sistema de millas reconocido internacionalmente (Smiles)",
    },
    {
        date: "Dic. 2018 - Ene. 2021",
        title: "Desarrollador Fullstack",
        usos: ['Symfony', 'Angular Js', 'Angular 2'],
        company: "CNRT (Ministerio de Transporte de la República Argentina)",
        description:
            "Mantenimiento y desarrollo de nuevas funcionalidades de los sistemas existentes y de uso interno. Creación de nuevas herramientas para el uso de las distintas empresas de transporte y sus respectivos operadores y parques móviles.",
    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
                <li class="">
                    <ExperienceItem {...experiencie}/>
                </li>
        ))
    }
</ol>