---
const personalImageAlt = "Nico Piovano"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import CvIcon from "@/components/icons/Cv.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import { Image } from "astro:assets";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
      <Image
              src="/NicoPhotoMini.png"
              alt={personalImageAlt}
              width={64}
              height={64}
              class="rounded-full shadow-lg size-16"
              loading="eager"
      />
    <a
      href="https://linkedin.com/in/nmpiovano"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    <!--Hola! soy Nico 😊-->
      Nicolás Piovano
      </h1>
    <div class="mt-6 text-xl">
        <p class="text-gray-800 dark:text-gray-300">+7 años de experiencia.</p>
        <p class="text-tigers-eye font-semibold mt-1">🖥️  Desarrollador Fullstack Javascript y PHP 🖥️</p>
        <!--<br> Especializado en Vue y React js.-->
    </div>
  <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:nmpiovano@gmail.com" data-glow="green">
          <MailIcon class="size-4" />
          Hablemos
      </SocialPill>

      <SocialPill href="https://linkedin.com/in/nmpiovano" data-glow="blue">
          <LinkedInIcon class="size-4" />
          LinkedIn
      </SocialPill>

      <SocialPill href="/CV_NICO_PIOVANO_2024.pdf" download data-glow="red">
          <CvIcon class="size-4" />
          Cv 2026
      </SocialPill>
  </nav>
</div>